@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
}
header>h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}
header>a, footer>a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header>a, footer>a:hover {
    text-decoration: underline;
}

section { 
    font-family: var(--fonte3);
    font-size: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;   
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
    padding: 20px;
    line-height: 1.6;
}

section.imagem {
    display: inline-block;
    background-color: rgb(44, 29, 29), 250);
    color: white;
}
section.imagem p {
    background-color: black;
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}