@charset "UTF-8";
body {
            background-color: rgb(39, 38, 39);
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            color: rgb(255, 255, 255);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(240, 88, 78);
        }
        h2 {
            color: rgb(194, 191, 191);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        p {
            color: rgb(255, 255, 255);
            font-family: 'Courier New', Courier, monospace;
            text-align: justify;
        }